//variables globales
$mainColor:#ffbd94;
$secondaryColor:#c54d08;
$hoverColor:#a84308;
$btnborderColor:#ff7f50;
$btncolor:#cc906d;
$btntextColor: white;
// ARREGLAR
// @mixin maintext($size, $line, $color) {
// font-size: $size;
// line-height: $line;
// color: $color;
// font-family: 'Montserrat', sans-serif;
// }



$bgCards: (bg1:#ea833eb8,
    bg2:#c54d08,
    bg3: #f9e3e3,
    bg4: #e4c0c0d5,
)